<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="title">Coupons</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>sentiment_satisfied_alt</mat-icon>
        <span>Login</span>
      </button>
      <button mat-menu-item>
        <mat-icon>voicemail</mat-icon>
        <span>Option 1</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Option 2</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>